.account {
    margin-top: 32px;
}

.account-sign-up-container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.account-sign-up-btn {
    margin-left: 16px;
}

.account-type-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
