.home-carousel-img {
    width: 100%;
    /* Fullscreen minus the height of the navbar */
    height: 300px;
    object-fit: cover;
}

.home-heading {
    margin: 32px 0;
    font-size: 48px;
    text-align: center;
}

.home-text {
    line-height: 32px;
    margin: 0 80px;
}
